<div class="container mt-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID Trường</th>
        <th>Tên Trường</th>
        <th>Thông tin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="indexSearch === -1; else available">
        <td>Không tìm thấy mã trường!</td>
        <td></td>
        <td></td>
      </tr>
      <ng-template #available>
        <!-- <tr app-uni *ngFor="let uni of renderTable" class="uni-component" [university]="uni" [attr.routerLink]="routerLink + 'a' ">
        </tr> -->
        <tr *ngFor="let uni of renderTable" class="uni-component" (click)="redirectToUni(uni.id)">
          <td>{{ uni.id }}</td>
          <td>{{ uni.name }}</td>
          <td>{{ uni.info }}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
<div app-uni></div>