<div class="container mt-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID Trường</th>
        <th>Tên Trường</th>
        <th>Thông tin</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr app-uni *ngFor="let uni of renderTable" [uni]="uni" class="uni-component"></tr> -->
      <tr *ngFor="let uni of renderTable" class="uni-component">
        <td>{{uni.id}}</td>
        <td>{{uni.name}}</td>
        <td>{{uni.info}}</td>
      </tr>
      <!-- <tr *ngIf="uniNotFoundStatus">
        <td>
          Không tìm thấy mã trường!
        </td>
        <td>{{}}</td>
        <td></td>
      </tr> -->
    </tbody>
  </table>
</div>
