<div class="container mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Trường</th>
        <th>Tên Trường</th>
        <th>Thông tin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FTU</td>
        <td>ĐH Ngoại Thương TPHCM</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
      <tr>
        <td>FTU</td>
        <td>ĐH Ngoại Thương TPHCM</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
      <tr>
        <td>FTU</td>
        <td>ĐH Ngoại Thương TPHCM</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
    </tbody>
  </table>
</div>
